h1 {{ title }}

like(
  "[is-liked]"="tweet.isLiked" 
  "[total-likes]"="tweet.totalLikes")


zippy(title="This is title 1")
  | This is body content 1
  
zippy(title="This is title 2")
  h5.card-title Card title
  p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
